@font-face {
  font-family: "iconfont"; /* Project id 4141982 */
  src: url('iconfont.woff2?t=1687925300653') format('woff2'),
       url('iconfont.woff?t=1687925300653') format('woff'),
       url('iconfont.ttf?t=1687925300653') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pengyou:before {
  content: "\e746";
}

.icon-taobao:before {
  content: "\e755";
}

.icon-zhifubao:before {
  content: "\e665";
}

.icon-jipiao:before {
  content: "\e61b";
}

.icon-qinmifu:before {
  content: "\e62b";
}

.icon-shoujichongzhi:before {
  content: "\e62e";
}

.icon-youxichongzhi:before {
  content: "\e638";
}

.icon-gupiao:before {
  content: "\e61f";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-lvhang:before {
  content: "\e604";
}

.icon-koubei:before {
  content: "\e673";
}

.icon-licai:before {
  content: "\e6aa";
}

.icon-koubei1:before {
  content: "\e630";
}

.icon-zhuanzhang:before {
  content: "\e663";
}

.icon-add:before {
  content: "\e689";
}

.icon-scan:before {
  content: "\e68b";
}

.icon-pay:before {
  content: "\e68c";
}

.icon-card:before {
  content: "\e68e";
}

.icon-accountbook:before {
  content: "\e692";
}

.icon-addressbook:before {
  content: "\e6b4";
}

.icon-search:before {
  content: "\e6d4";
}

.icon-type:before {
  content: "\e6de";
}

.icon-creditcard-fill:before {
  content: "\ebea";
}

